# Habilita checagens baseadas no LLVM, Google e melhorias modernas
Checks: '-*,
         readability-identifier-naming,
         modernize-use-ranges,
         modernize-use-std-format,
         modernize-use-starts-ends-with,
         modernize-use-equals-default,
         modernize-use-equals-delete,
         performance-move-const-object,
         bugprone-shared-ptr-array-mismatch'

ExtraArgsBefore:
  - -std=c++20

HeaderFilterRegex: '^(src|include)/.*'
SystemHeaders: false

# Trata avisos específicos como erros
# WarningsAsErrors: 'bugprone-*,performance-*'
WarningsAsErrors: 'performance-*, -readability-*'

# Configurações específicas para certas checagens
CheckOptions:
  - key:   modernize-use-using.IgnoreMacros
    value: 'true'
  - key:   modernize-use-using.IgnoreExternC
    value: 'false'
  - key:   modernize-use-using
    value: 'true'
  - key:   readability-identifier-naming.VariableMinLength
    value: '1'
  # Classes (Padrão PascalCase/CamelCase ex: MyClass)
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  # Concepts do C++20 (A Standard Library usa lower_case, ex: std::floating_point)
  - key:             readability-identifier-naming.ConceptCase
    value:           lower_case
  # Funções Globais e Estáticas (Estilo std::, ex: do_something)
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  # Ativa a checagem para membros (atributos) de classe privados
  - key: readability-identifier-naming.PrivateMemberCase
    value: 'lower_case'
  # Força o sufixo de sublinhado (_) no final do nome
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  # Força Snake case nos metodos
  - key:             readability-identifier-naming.MethodCase
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMethodCase
    value:           lower_case
  - key:             readability-identifier-naming.ProtectedMethodCase
    value:           lower_case
  - key:             readability-identifier-naming.PublicMethodCase
    value:           lower_case
  # Variáveis Locais e Parâmetros (Altamente recomendado em lower_case)
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
