# Habilita checagens baseadas no LLVM, Google e melhorias modernas
Checks: '-*,bugprone-*,-bugprone-easily-swappable-parameters,readability-*,-readability-identifier-length,-performance-*,-google-explicit-constructor,-modernize-use-trailing-return-type,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers'

ExtraArgsBefore:
  - -std=c++20

# Trata avisos específicos como erros
# WarningsAsErrors: 'bugprone-*,performance-*'
WarningsAsErrors: 'performance-*'

# Configurações específicas para certas checagens
CheckOptions:
  - key:   modernize-use-using.IgnoreMacros
    value: 'true'
  - key:   modernize-use-using.IgnoreExternC
    value: 'false'
  - key:   modernize-use-using
    value: 'true'
  - key: readability-identifier-naming.ClassMethodCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: camelBack

#  - key:   readability-identifier-naming.VariableCase
#    value: camelBack
#  - key:   readability-identifier-naming.FunctionCase
#    value: camelBack
#  - key:   readability-identifier-naming.StaticMemberFunctionCase
#    value: CamelCase
#  - key:   readability-identifier-naming.VariableMinLength
#    value: '1'
