BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: true
ColumnLimit: 120
PointerAlignment: Left
DerivePointerAlignment: false
BreakTemplateDeclarations: Yes
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
